body {
    font-family: 'Fira Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    background-color: #001;
    color: #EEE;
}

.wrapper {
    max-height: fit-content;
    max-width: 375px;
  }

#icon_container {
    display: flex;
}

#icon_container #icon{
    font-size: 8px;
}

#info {
    padding: 1em;
    margin: 0;
}

.info_entry {
    margin-top: 1em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #88F;
}

a:hover {
    color: #44C;
    text-decoration: underline;
}

.commandLine {
    margin-top: 1em;
}

span {
    margin-left: 0.5em;
}

.PS1 {
    color: #1A1;
}

.comment {
	color: #444
}
