body {
    font-family: 'Fira Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    background-color: #001;
    color: #EEE;
}

.wrapper {
    max-height: fit-content;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

#icon_container {
    display: flex;
}

#icon_container #icon{
    font-size: 8px;
}

#info {
    padding: 1em;
}

.info_entry {
    margin-top: 1em;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #AAF;
}

a:hover {
    color: #77C;
}

.commandLine {
    margin-top: 1em;
}

span {
    margin-left: 0.5em;
}

.PS1 {
    color: #1A1;
}

.comment {
	color: #444
}
