#app {
  margin: 0 0;
  padding: 1rem;
  max-height: fit-content;
  max-width: clamp(450px, 100%, 100%);
}

body {
  font-family: 'Fira Mono', monospace;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 1.3rem);
  background-color: #001;
  color: #eee;
}

a {
  text-decoration: none;
  margin-bottom: 1em;
}

a:link,
a:visited {
  color: #88f;
}

a:hover {
  color: #44c;
  text-decoration: underline;
}

hr {
  color: #444;
  opacity: 25%;
}

.comment {
  display: block;
  color: #444;
}

.date {
  font-size: clamp(1rem, 1vw, 1.3rem);
  color: #292929;
}

.PS1 {
  color: #1a1;
}
